section#header-top
  .container
    .row
      .col-lg-6.col-md-6.text-md-left.text-center.mb-lg-0.mb-1
        ul.header-social.d-inline-block
          li
            a(href='https://www.facebook.com/valleybootcampindia', target='_blank')
              i.icofont.icofont-social-facebook
          li
            a(href='https://www.linkedin.com/company/the-valley-bootcamp/')
              i.icofont.icofont-social-linkedin
          li
            a(href='#')
              i.icofont.icofont-social-instagram
        .address.d-inline-block
          i.icofont.icofont-social-google-map.mr-2
          a(target='_blank', href='https://goo.gl/maps/QdQvZH1rU7L2') RT Nagar, Bangalore
      .col-lg-6.col-md-6.text-center.text-md-right
        .email.d-inline-block
          a(href='mailto:thevalleybootcamp@gmail.com')
            i.fa.fa-envelope-o.mr-2
            | thevalleybootcamp@gmail.com
        .phone.d-inline-block
          i.fa.fa-phone.mr-2
          | +91-9916778133